.root, .spinner {
  background-color: #E5CCB8;
  height: 100vh;
}

.root {
  display: grid;
  grid-template-columns: 40vw 1fr;
  grid-template-rows: auto auto auto;
  padding: 2rem 2rem 4rem;
}

.root > header {
  align-items: center;
  display: flex;
  grid-row: 1;
  grid-column: 1/3;
  justify-content: space-between;
  margin: auto 0;
}

.root > header > nav > button {
  background-color: #fcfbfa;
  border: 0.0625rem solid #7e6a80;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.15s ease-in-out;
}

.root > header > nav > button:disabled {
  background-color: #7e6a80;
  color: #fcfbfa;
}

.root > header > nav > button:hover {
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  font-size: 1.05rem;
}

.root > header > nav > button:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
}
.root > header > nav > button:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: none;
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 48em) {
  .root {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: auto;
    padding: 1rem 1rem 2rem;
    min-height: 100vh;
  }

  .root > header {
    display: block;
  }

  .root > header > nav {
    text-align: center;
    margin: 0.5rem 0 0;
  }

  .root > header > nav > button {
    font-size: 0.8rem;
  }
}
