.root {
  position: relative;
}

.genres, .stats {
  background-color: #fcfbfa;
  border-radius: 1rem;
  color: #131045;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 1rem 0.5rem;
}

.genres > h3, .stats > h3 {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.genres {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 4.5rem;
}

.genres > h3 {
  grid-column: 1/3;
}

.genres > svg {
  grid-column: 1;
  margin: auto 0;
}

.genres > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2;
  margin: auto 0 auto 1rem;
  max-height: 12rem;
  overflow-y: scroll;
}

.genres > ul > li {
  border-radius: 0.25rem;
  color: #fcfbfa;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
}

.genres > details {
  appearance: none;
  border-top: 0.0625rem solid #E5CCB8;
  margin-top: 1rem;
  font-size: 0.8rem;
  grid-column: 1/3;
}

.genres > details > summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0;
}

.genres > details > summary::after {
  color: #131045;
  content: '▼';
  font-size: 0.7rem;
  margin-left: 0.25rem;
}

.genres > details > ul > li {
  padding: 0.5rem;
  border-bottom: 0.0625rem solid #E5CCB8;
}

.genres > details > ul > li:last-of-type {
  border-bottom: none;
}

.genres > details > ul > li > header {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.stats {
  display: grid;
  grid-template-columns: auto 1fr;
}

.stats > h3 {
  grid-column: 1/3;
}

.stats > strong {
  border-radius: 50%;
  color: #fcfbfa;
  font-size: 2.5rem;
  font-weight: 500;
  grid-column: 1;
  grid-row: 2/4;
  height: 7.5rem;
  line-height: 7.5rem;
  margin: auto 1rem auto 0.25rem;
  text-align: center;
  width: 7.5rem;
}

.stats > div {
  display: grid;
  font-size: 0.75rem;
  grid-column: 2;
  grid-template-columns: auto 1fr;
}

.stats > div:first-of-type {
  margin-bottom: 0.75rem;
}

.stats > div > header {
  font-weight: 700;
  grid-column: 1/3;
  grid-row: 1;
  margin-bottom: 0.25rem;
}

.stats > div:first-of-type > header { color: #52C790; }
.stats > div:last-of-type > header { color: #E92B60; }

.stats > div > figure {
  background-color: rgba(126, 106, 128, 0.5);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  grid-column: 1;
  grid-row: 2/4;
  height: 2.5rem;
  margin: auto 0.25rem;
  width: 2.5rem;
}

.stats > div > h4 {
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 0.25rem;
  margin-top: auto;
}

.stats > div > p {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: auto;
}

.stats > div > h4,
.stats > div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media only screen and (max-width: 48em) {
  .root > header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    height: 100vh;
    position: fixed;
  }
}
