<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">

  <!-- Primary Meta Tags -->
  <title>Uliandana - Spotify Stats</title>
  <meta name="title" content="Uliandana - Spotify Stats">
  <meta name="description" content="Ngga bisa ngedesign icon plus gapaham copywriting yang bagus.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://uliandana.herokuapp.com/">
  <meta property="og:title" content="Uliandana - Spotify Stats">
  <meta property="og:description" content="Ngga bisa ngedesign icon plus gapaham copywriting yang bagus.">
  <meta property="og:image" content="https://uliandana.herokuapp.com/assets/meta-share.jpg">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://uliandana.herokuapp.com/">
  <meta name="twitter:title" content="Uliandana - Spotify Stats">
  <meta name="twitter:description" content="Ngga bisa ngedesign icon plus gapaham copywriting yang bagus.">
  <meta name="twitter:image" content="https://uliandana.herokuapp.com/assets/meta-share.jpg">
</head>

<body>
  <div id="app"></div>
</body>

</html>