.root {
  align-items: center;
  background-color: #fcfbfa;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1.2rem 2.3rem, rgba(0, 0, 0, 0.22) 0 0.9rem 0.75rem;
  display: flex;
  left: 50%;
  opacity: 1;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
  visibility: visible;
  z-index: 2;
}

.root.hidden {
  opacity: 0;
  visibility: hidden;
}

.root > figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 3rem;
  margin-right: 1rem;
  width: 3rem;
}

.root > p {
  font-size: 1rem;
}

.root > label {
  align-items: center;
  display: flex;
  margin: 0 0.5rem 0 1rem;
  position: relative;
}

.root > label::after {
  color: #131045;
  content: '▼';
  font-size: 0.7rem;
  margin-left: 0.25rem;
}

.root > label > select {
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #131045;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

@media only screen and (max-width: 48em) {
  .root {
    padding: 0.25rem;
  }
  .root > figure {
    height: 2rem;
    margin-right: 0.25rem;
    width: 2rem;
  }
  .root > p {
    display: none;
  }
  .root > label {
    margin: 0 0.25rem;
  }
  .root > label > select {
    font-size: 0.8rem;
    height: 2rem;
  }
}
